<ion-header [translucent]="true">
  <app-top-toolbar [title]="'Favoritos'"></app-top-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favoritos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>

    <ion-row *ngFor="let genre of genres ">

      <ion-col>
        <h4>{{genre.name}}</h4>
      </ion-col>
      <ion-col size="12" *ngIf="movies.length > 0">
        <!--  Con el pipe (genresFilter) modificamos la data de tal manera que filtramos por genero de pelicula  -->
        <app-slideshow-poster [movies]="movies | genresFilter : genre"></app-slideshow-poster>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>